@model MeetingRoom1.Models.EmployeeModel


@{
    ViewData["Title"] = "AddEmp";
}
<head><link rel="stylesheet" href="~/css/AddEmp.css" /></head>
<body>
@*<h1>AddEmp</h1>

<h4>EmployeeModel</h4>
<hr />*@
@*<div class="login-form-bd">
    <div class="form-wrapper">
        <div  class="form-container">
             <form asp-action="AddEmp">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BranchName" class="control-label"></label>
                <input asp-for="BranchName" class="form-control" />
                <span asp-validation-for="BranchName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Role" class="control-label"></label>
                @Html.DropDownListFor(m => m.Role , new List<SelectListItem> {
               new SelectListItem { Text ="Employee" , Value="1" },
                new SelectListItem { Text ="Admin" , Value="2" },
                 new SelectListItem { Text ="BranchManager" , Value="3" }
                },"--select Role --", new { @class = "form-control" })
                
                <span asp-validation-for="Role" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
        </div>
       
    </div>
</div>*@

<form id="container" asp-action="AddEmp">
 
        <h3 id="Heading">Sign Up</h3>
        
        <label>Username:</label><div class="row">
        <div class="icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="100%"><path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"/></svg></div><input name="username" type="text" placeholder="Username" required></div>
        
        <label>Email:</label><div class="row">
            <div class="icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="100%"><path d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48H48zM0 176V384c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V176L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z"/></svg></div>
             <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span> </div>
        <label>Password:</label>
        <div class="row">   
        <div class="icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="30px"><path d="M336 352c97.2 0 176-78.8 176-176S433.2 0 336 0S160 78.8 160 176c0 18.7 2.9 36.8 8.3 53.7L7 391c-4.5 4.5-7 10.6-7 17v80c0 13.3 10.7 24 24 24h80c13.3 0 24-10.7 24-24V448h40c13.3 0 24-10.7 24-24V384h40c6.4 0 12.5-2.5 17-7l33.3-33.3c16.9 5.4 35 8.3 53.7 8.3zM376 96a40 40 0 1 1 0 80 40 40 0 1 1 0-80z"/></svg></div>
        <input asp-for="Password" type = "password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span> </div>
        <label>BranchName:</label><div class="row">
            <div class="icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="100%"><path d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48H48zM0 176V384c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V176L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z"/></svg></div>
              <input asp-for="BranchName" class="form-control" />
                <span asp-validation-for="BranchName" class="text-danger"></span> </div>
        
       <div class="form-group">
                <label asp-for="Role" class="control-label"></label>
                @Html.DropDownListFor(m => m.Role , new List<SelectListItem> {
               new SelectListItem { Text ="Employee" , Value="1" },
                new SelectListItem { Text ="Admin" , Value="2" },
                 new SelectListItem { Text ="BranchManager" , Value="3" }
                },"--select Role --", new { @class = "form-control" })
                
                <span asp-validation-for="Role" class="text-danger"></span>
            </div>

        
        <button type="submit">Sign In</button>
        <span>
        <span>Already have Account <a asp-action="Login"> Sign In</a></span></span>
    </form>

<div>
    <a asp-action="Login">Back to List</a>
</div>
</body>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

