@model MeetingRoom1.Models.RequestModel

@{
    ViewData["Title"] = "AddRequest";
}
<head><link rel="stylesheet" href="~/css/AddRequest.css" /></head>

<h1>AddRequest</h1>

<h4>RequestModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddRequest">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StartTime" class="control-label"></label>
                <input asp-for="StartTime" type="time" class="form-control" />
                <span asp-validation-for="StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndTime" class="control-label"></label>
                <input asp-for="EndTime" type="time" class="form-control" />
                <span asp-validation-for="EndTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MDate" class="control-label"></label>
                <input asp-for="MDate" type="date" class="form-control" />
                <span asp-validation-for="MDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Purpose" class="control-label"></label>
                <input asp-for="Purpose" class="form-control" />
                <span asp-validation-for="Purpose" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RequestFor" class="control-label"></label>
                <input asp-for="RequestFor" class="form-control" />
                <span asp-validation-for="RequestFor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoOfEmps" class="control-label"></label>
                <input asp-for="NoOfEmps" class="form-control" />
                <span asp-validation-for="NoOfEmps" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


<div>
    <a asp-action="Index">Back to List</a>
</div>

